# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
*.whl

# Jupyter Notebook
.ipynb_checkpoints

# Virtual Environments
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

# Data files
*.csv
*.pkl
*.pickle
*.pt

# Logs
*.log
logs/

#model
models/


